* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.locations {
  /* height: 300vh; */
  padding-top: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.infoTitle {
  text-align: center;
  text-decoration: solid;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2.5rem;
}

.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(3, 25rem);
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 3rem 6rem rgba(25, 53, 176, 0.1);
  height: 40rem;
  margin: auto;
  transition: 0.2s;
  border-radius: 20px;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(27, 25, 82, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 2rem;
  font-weight: 500;
  color: #0b3868;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}

/* ALL HOTELS */
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.hotel-item {
  padding: 20px;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 0.3s ease-in-out;
}

.hotel-item:hover {
  transform: translateY(-5px);
}

.hotel-item .hotel-info {
  padding: 20px;
}

.hotel-item .hotel-info h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
}

.hotel-id {
  font-size: 1.5rem;
  color: darkblue;
  margin: 0;
  margin-bottom: 10px;
}

.hotel-item .hotel-info p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .hotel-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .hotel-item {
    width: 100%;
  }
}

/* VIEW ALL HOTELS BTN  */
.empButton {
  background-color: #268fcb; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 30px;
}

.empButton:hover {
  background-color: #00578c; /* Dark blue */
}

.detailButton {
  margin-left: 10px;
}

/* UPDATE FORM  */
.update-hotel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* font-family: "Poppins", sans-serif; */
}

.update-hotel-form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.update-hotel-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.update-hotel-form input[type="text"],
.update-hotel-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

.update-hotel-form button[type="submit"] {
  background-color: #2980b9;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.update-hotel-form button[type="submit"]:hover {
  background-color: #3498db;
}
