.homeImage {
  z-index: 1;
  position: absolute;
  align-items: center;
  top: 85px;
}

.homeImage img {
  height: auto;
  width: 100vw;
  /* max-width: 100vw; */
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.welcome {
  z-index: 2;
  position: absolute;
  align-items: center;
  top: 0;
  text-align: center;
  margin-left: 40%;
  margin-top: 500px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

.main-body {
  position: absolute;
  margin-top: 1033px;
  margin-left: 11.8%;
}

.secondary-title {
  font-size: 36px;
}

.locImage {
  width: 330px;
  height: 300px;
  margin-left: 25px;
  border-radius: 12px;
}

.row1 {
  margin-top: 50px;
}

.row2 {
  margin-top: 25px;
}

.signUpRedirect {
  margin-top: 35px;
}

.Ready {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}

/* .signUp {
  padding: 10px 15px 10px 15px;
  border: 2px solid black;
  background-color: orange;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  font-size: 36px;
  color: grey;
} */

/* .signUp:hover {
  background-color: rgb(255, 179, 0);
  transition: 0.5s;
}

.signUp:active {
  background-color: red;
} */

.buttonDiv {
  margin-top: 27px;
  padding-bottom: 35px;
}

.button1 {
  width: 300px;
  height: 70px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 30px;
}

.btnStyle1 {
  background-color: #1e78d7;
  border: none;
  z-index: 1;
}
.btnStyle1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #2f83dc;
  background-image: linear-gradient(315deg, #2f83dc 0%, #6a91df 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btnStyle1:hover {
  color: #fff;
}
.btnStyle1:hover:after {
  top: 0;
  height: 100%;
}
.btnStyle1:active {
  top: 2px;
}
