* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

h3,
h4 {
  color: #2f83dc;
}

.infoTitle {
  text-align: center;
  text-decoration: solid;
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 2.5rem;
}

.SecondTitle {
  text-align: center;
  text-decoration: solid;
  padding-bottom: 5%;
  font-size: 2rem;
}

.card2 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin: auto;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.button {
  width: 170px;
  height: 70px;
  color: #fff;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 25px;
}

.btnStyle {
  background-color: #1e78d7;
  border: none;
  z-index: 1;
}

.extraBut {
  margin-left: 10px;
}
.btnStyle:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #2f83dc;
  background-image: linear-gradient(315deg, #2f83dc 0%, #6a91df 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
  /* padding: 0; */
}
.btnStyle:hover {
  color: #fff;
}
.btnStyle:hover:after {
  top: 0;
  height: 100%;
}
.btnStyle:active {
  top: 2px;
}

/* form */

.update-form {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 400px;
  margin: auto;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.updateBtn {
  padding: 3%;
  background-color: #1e78d7;
  color: #fff;
}
